# Python
__pycache__/
*.pyc
venv/
.env

# Google OAuth
backend/credentials.json
backend/token.json
backend/tokens/

# Database
backend/*.db
backend/*.sqlite
backend/*.sqlite3

# ML Models
backend/ml/*.pkl

# Dataset
backend/dataset/

# Uploads & History
backend/uploads/
backend/history/

# Demo Video
demo video.mp4

# Frontend
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/
