# Python
__pycache__/
*.pyc
venv/
.env

# Google OAuth
backend/credentials.json
backend/token.json

# Node
frontend/node_modules/

# Build
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
